@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}
@using Microsoft.AspNetCore.Razor.TagHelpers

@model CommentPageModel
<div class="container mt-5">

    @if (Model.Count > 0)
    {


        <div class="mt-4">
            <h6>Yorumlar</h6>

            @foreach (var comment in Model.CommentDetails)
            {

                <div class="card mb-2">
                    <div class="card-header">

                        <p class="card-subtitle mb-2 text-muted">@comment.ProjectName</p>
                        <small class="text-muted">Tarih: @comment.AddedAt</small>
                        @if (comment.UpdatedAt != null)
                        {
                            <br />
                            <small class="text-muted">Güncellenme Tarihi: @comment.UpdatedAt</small>
                        }
                    </div>
                    <div class="card-body">
                        <p class="card-text">@comment.Text</p>
                        @if (comment.FileId != null)
                        {
                            <small class="text-muted">Ek Dosya</small>
                            <div class="col-md-2 mb-2">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">@comment.FileName</h5>
                                        <a class="btn btn-secondary mt-3" asp-action="Download" asp-controller="Account" asp-route-id="@comment.FileId">
                                            Yükle
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    <ul class="pagination">
        @if (Model.Count > 5)
        {
            int count = (Model.Count / 5);

            for (int i = 0; i <= count; i++)
            {
                if (i == (int)ViewData["id"])
                {
                    <li class="page-item active"><a class="page-link" asp-action="Index" asp-route-id="@i">@(i + 1)</a></li>

                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-id="@i">@(i+1)</a></li>

                }

            }
        }


    </ul>
</div>