@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}
@model UserPageModel
<style>
    .userName {
        text-align: end;
        width: 100%;
       
    }
</style>
<div class="userName" text-align="right">Kullanıcı adı: @Model.UserName</div>
<div class="container mt-5">
        @if (Model.Projects != null)
        {
        <div class="row">
            <h4>Projeler</h4>
            @foreach (var project in Model.Projects)
            {
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 25rem">
                        <div class="card-body">
                            <a class="card-title text-decoration-none text-primary" asp-action="Index" asp-controller="Project" asp-route-id="@project.Id">@project.Name</a>
                            <h6 class="card-subtitle mb-2 text-muted">Durum: @project.Status</h6>
                            <p class="card-text">Sürüm: @project.Version</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

</div>